<!DOCTYPE html>
<html lang="ch">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeBlock 个人代码片段管理存储工具</title>
    <!-- 没有SEO需求 去掉 -->
    <link rel="stylesheet"
        href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.1/build/styles/atom-one-light.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.52.2/lib/codemirror.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.52.2/theme/base16-light.css">
    <link rel="stylesheet" href="{{$css|cat:'main.css'}}">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.1/build/highlight.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>

</head>

<body>
    <header>

        <div id="nav">
            <div>
                <div><strong style="font-size: 18px;color: #666;">CodeBlock</strong></div>
                <div id="nav_tag">
                    <a href="/"><nav>首页</nav></a>
                    <a href="/index.php/cate/index"><nav>分类</nav></a>
                    <a href="/index.php/code/index"><nav>创建</nav></a>
                </div>

            </div>
        </div>

    </header>